@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wallpaper {
    background-image: url('/assets/images/5719387.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: lightcyan;
    opacity: 0.9;
}

.title {
    display: flex;
    width: 100%;
    height: 50px;
    border: none;
    font: bold 1.5rem 'Poppins';
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
}

.input input, select {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: 0;
    font: 1.5rem bold 'Poppins';
    text-align: center;
    border: 1px solid lightcyan;
}

footer {
    display: flex;
    bottom: 0;
    width: 100vw;
    justify-content: space-evenly;
    position: absolute;
    background: lightcyan;
    opacity: 0.8;
}

button {
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: cyan;
    outline: 0;
    text-transform: uppercase;
    cursor: pointer;
    font: bold 1.0rem 'Poppins';
}

button:hover {
    letter-spacing: 5px;
    background: #000;
    color: cyan;
    transition: 0.5s all ease-in-out;
}

footer p {
    text-align: center;
}

footer span {
    font-weight: bold;
    color: rgb(9, 23, 148);
}

/* Responsividade Smartphones */
@media(max-width: 800px) and (max-height: 1000px) {  
    .wallpaper {
        display: none;
    }

    .title {
        font: bold 1.8rem 'Poppins';
        border: none;
    }

    .container {
        height: 100vh;
        width: 100vw;
    }

    button {
        width: 300px;
        height: 70px;
    }

    footer {
        display: none;
    }
}